#Wed Mar 24 08:28:53 CDT 2021
mail.smtp.toEmail=ENC1(xYYqYpM8lIP1tWGY0A9i6Z+yhj4t6eroWR1T+7Y7WaY9Aj0+lK4y1rvOedpRoRbQdrODUJ1o+FbohdMQhmzPPA\=\=)
mail.smtp.ssl.enable=false
mail.smtp.other.port=
Encryptor.check=Provar
mail.smtp.starttls.required=false
mail.smtp.host=smtp.gmail.com
mail.smtp.timeout=60000
mail.smtp.starttls.enable=false
mail.smtp.port=587
mail.smtp.username=ENC1(Z8/Qk0CNb6L2hq2k47+Vjaig6jSigx247cYQt7uKJx47+ka7I3ib+SVHVllXAhIbjXqbl55Ceq45frCv1aaFYw\=\=)
mail.smtp.password=ENC1(08fNla1c8ilfN+Yi1EwluOfvYvmdJyHFrpo1qXUL0PtyTJbq+Yl4muYzQfm598iSz3Nhm/XPmdQfrEEumOvNPQ\=\=)
mail.smtp.other.host=
