#Thu Jun 04 13:42:49 CDT 2020
mail.smtp.toEmail=ENC1(vb0xS8PJdO/6ltcRXQat9lJkJC6WTt26xFWlKyNDdl6O9X5bBY4gOuyr0qz/yJsA/Fl3d3CArNVaVY7BGC3a0w\=\=)
mail.smtp.ssl.enable=true
mail.smtp.other.port=465
Encryptor.check=Provar
mail.smtp.starttls.required=true
mail.smtp.host=smtp.gmail.com
mail.smtp.timeout=60000
mail.smtp.starttls.enable=true
mail.smtp.port=587
mail.smtp.username=ENC1(+B1a3Q0oVeWoxYcUjanQIVKHWGshBDtAmsojF8dBhW4hjptotahfrdOVmPwbcTN7Yc3guWOa3WnTygVsSc6EQw\=\=)
mail.smtp.password=ENC1(p6n4XJwQDIMw5h3uEMTbJUfGQtOnZv4021caCh6kkGrWeqv7b/OMFNyXsvEiIlfSE+1aJQIfUQGC3CMrbUiLLw\=\=)
mail.smtp.other.host=
