#Tue Dec 31 13:46:36 CST 2019
mail.smtp.toEmail=provarsupport@makepositive.com
mail.smtp.ssl.enable=true
mail.smtp.other.port=465
mail.smtp.starttls.required=true
mail.smtp.host=smtp.gmail.com
mail.smtp.timeout=60000
mail.smtp.starttls.enable=true
mail.smtp.port=587
mail.smtp.username=provardocker@gmail.com
mail.smtp.password=DockerProvar978+
mail.smtp.other.host=
